PORT=5000
MONGODB_URI=mongodb+srv://celia_j_o_y:butare223!@cluster14.fburhju.mongodb.net/umurava_ai?retryWrites=true&w=majority&appName=Cluster14
GEMINI_API_KEY=AIzaSyBgsEsGlmTUlAzt-FyGcJgp7fTG_bHW818
FRONTEND_URL=http://localhost:3000
NODE_ENV=development